.TitleScreen {
	position: relative;
	text-align: center;
	width: 100%;
}

.title__start--button {
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	text-shadow: #f00 2px 2px 0, #a00 4px 4px 0;
}

.title__start--button:hover {
	cursor: hand;
	cursor: pointer;
	position: relative;
}

.title__start--button:hover:before {
	content: '\25b6';
	line-height: 1em;
	position: absolute;
	top: -2px;
	left: -24px;
}