.App {
  box-sizing: border-box;
  display: block;
  margin: 2em auto;
  max-width: 1000px;
  position: relative;
  border: 6px solid #fff;
  width: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
