body {
  background: #000;
  color: #fff;
  font-family: 'Press Start 2P', courier, sans-serif;
  margin: 1em;
}

p { 
	line-height: 1.6em;
}

.center {
	text-align: center;
}

.button {
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	text-shadow: #f00 2px 2px 0, #a00 4px 4px 0;
}

.highlighted {
	text-shadow: #f00 2px 2px 0, #a00 4px 4px 0;
}

.button:hover {
	cursor: hand;
	cursor: pointer;
	position: relative;
}

.button:hover:before {
	content: '\25b6';
	line-height: 1em;
	position: absolute;
	top: -2px;
	left: -24px;
}

.maga {
	font-style: italic;
	text-align: center;
}

.section__header {
  position: relative;
  z-index: 1;
}

.section__header img {
  width: 100%;
  max-width: 100%;
}